

// Styling for the map in the background

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

#map {
  height: 100%;
}

.labels {
  color: white;
  font-size: 10px;
  text-align: center;
  width: 20px;
  white-space: nowrap;
  margin-bottom: 10px;
  line-height: 1;
}

.well {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 1;
  font-size: 2em;
  cursor: pointer;

  #reveal-country {
      font-size: 16px;
      text-decoration: underline;
  }
}

.modal {
  font-size: 6em;
  text-align: center;
  padding-top: 100px;
  color: white;
}

.modalInstructions {
  font-size: .5em;
  width: 80%;
  margin-left: 10%;
}
