

// Styling for the map in the background

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

#map {
  height: 100%;
}

.well {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 1;
  font-size: 2em;
}

.modal {
  font-size: 6em;
  text-align: center;
  padding-top: 100px;
  color: white;
}

.modalInstructions {
  font-size: .5em;
}
