body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pure-button {
  border: solid 1px white;
}

.pure-button:hover {
  border: solid 1px transparent;
}

/* Header */
.home-menu {
  cursor: crosshair;
  font-size: 1.2rem;
  background: #f5f5f5;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #000058;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0.5rem;
  font-style: italic;
}

@media (max-width: 600px) {
  .home-menu {
    justify-content: center;
  }

  .header-title {
    display: none;
  }
}

.header-gameplay-info {
  color: #163832;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.header-gameplay-info .flag {
  max-height: 20px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  text-align: center;
  padding: 0 4px;
}

.modal-title {
  font-size: 70px;
  font-style: italic;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .modal-title {
    font-size: 2.5rem;
    margin-top: 0.5rem;
  }
}

.modal-actions {
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.button-secondary {
  background: green;
  color: white;
}

.target-flag {
  max-width: 150px;
}

.target-flag.start-game {
  max-width: 40%;
  max-height: 500px;
}

.country-spec-list {
  font-size: 1.75rem;
  margin: 1rem;
}

.country-spec-list div {
  margin-top: 0.5rem;
}

@media (max-width: 600px) {
  .country-spec-list {
    font-size: 1.25rem;
  }
}

.gameplay-button {
  position: fixed;
  bottom: 28px;
  left: 10px;
  z-index: 1;
  font-size: 1.25em;
}

.gameplay-button button {
  padding: 4px 8px;
}

.click-marker {
  background-color: red;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  padding: 2px 4px;
  position: relative;
  border: solid 1px white;
}

.click-marker::after,
.click-marker::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
}

.click-marker::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid red;
}

.click-marker::before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid white;
}

.click-marker-success {
  background-color: green;
}

.click-marker-success::after {
  border-top-color: green;
}
